#ResponCheck {
  color: #2b2b2b;
  font-weight: bold;
  font-size: 16px;
}
#ResponCheck div {
  width: 400px;
  height: 400px;
  text-align: center;
}
#ResponCheck .ready {
  background: rgb(157, 252, 169);
}
#ResponCheck .waiting {
  background: rgb(39, 168, 219);
}
#ResponCheck .now {
  background: rgb(228, 156, 156);
}
